.auth-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-card{
    width: 400px;
    background-color: #171717;
    color: #fff;
    border: 2px solid blue;
}